*{
    background-color: #D5B9B2;
}
img{
    max-width: 100%;
    border-color: #BFB5AF;
    border-radius: 100% 25% 60% 20%;
    border-style: groove;
    height:auto;
}

.primary-colour button{
    box-shadow: 7px 8px 10px;
    top: -10px;
    margin: 10px 15px 10px 9px;
    border-width: 9px;
/*     left: 25%; */
    padding: 1% 3%;
    border-style:dotted;
    color: #ECE2D0;
}

 .primary-colour :hover{
    background-color: #D5B9B2 ;
    border-radius: 7 cqb;
}


.navigationbar{
    box-shadow: #A26769;
    font-weight: 900;
    margin: auto;
     width: 85%;
     padding: 12 10 20px;
    font-style:italic;
    color-scheme: #A26769;
}
