*{
    background-color: #D5B9B2;
}

/* /* .mb-3 button, btn-outline-success, button{
    box-shadow: 0px 1px 0px;
    top: -3px;
    left: 15px;
    color: rgb(247, 207, 121);
} */

img{
    max-width: 100%;
    border-color: #BFB5AF;
    border-radius: 100% 25% 60% 20%;
    border-style: groove;
    height:auto;
}

.primary-colour button{
    box-shadow: 7px 8px 10px;
    top: -10px;
    border-color: #BFB5AF;
    left: 25%;
    color: #582C4D
}

.navigationbar{
    box-shadow: #ECE2D0;
    font-weight: 900;
    margin: auto;
     width: 75%;
     padding: 20px;
    font-style:italic;
    color-scheme: #A26769;
}